@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Header */

header {
    background-color: #024059;
    color: aliceblue;
    font-family: 'Poppins';
    font-weight: bold;
}

#header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 800px;
    margin: 0 auto;
}

header h1 {
    font-style: italic;
}

header nav {
    display: flex;
    gap: 16px;
}

header a, header a:visited  {
    text-decoration: none;
    color: aliceblue;
}

/* Main */

main {
    background-color:aliceblue;
    padding: 40px 0;
}

#container {
    width: 800px;
    margin: 0 auto;
}

main h2 {
    color: #024873;
    font-family: 'Poppins';
}

hr {
    margin: 10px 0 30px 0;
    border: 1px solid #024873;
}

/* Sobre */

#sobre {
    display: flex;
    justify-content: space-between;
}

#sobre > img {
    width: 38%;
    margin-bottom: 10px;
}

#sobre-info {
    width: 58%;
}

#sobre p {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(63, 63, 63);
}

/* Produtos */

#produtos {
    margin-top: 30px;
}

#produtos-lista {
    display: flex;
    justify-content: space-between;
}

.produto {
    width: 24%;
}

.produto img {
    width: 100%;
}

.produto h3 {
    font-family: 'Poppins';
    font-size: 16px;
}

.produto p {
    margin: 10px 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: rgb(63, 63, 63);
}

.produto button {
    width: 100%;
    border: none;
    border-radius: 2px;
    background-color: #024873;
    color:aliceblue;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    padding: 5px 8px;
    cursor: pointer;
    margin-bottom: 20px;
}

@media screen and (max-width: 1023px) {

    #header-container{
        width: 100%;
        padding: 0 10px;
    }

    #container {
        width: 80%;
    }

    #sobre {
        width: 100%;
        flex-direction: column;
        justify-content: flex-start;
    }

    #sobre img, #sobre-info {
        width: 100%;
    }

    #produtos {
        width: 100%;
    }

    #produtos-lista {
        flex-wrap: wrap;
    }

    .produto {
        width: 48%;
    }

}

@media screen and (max-width: 640px) {

    .produto {
        width: 90%;
    }
}